.weatherall{
    background-color: #f1f2f6;
    padding: 20px;
}
.weather1{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(255, 255, 255); */
    gap: 5vh;
    padding: 50px;
    transition: all ease-in-out 1s;
    background-color: #ffffff;
    border-radius: 10vh;
    /* box-shadow: 0px 0px 40px white; */
}
.weather_logo{
    height: auto;
    width: 10vw;
    /* margin: 0px 2vw; */
}
.weather_logo img{
    width: 100%;
}
.blurr{
    position: absolute;

    height: 100vh;
    width: 100vw;
    border-radius: 50%;
    background : linear-gradient(#1e90ff , #3742fa,#2ed573,#ffa502);
    filter: blur(1000px);
    z-index: -999;
}
.weather_info{
    height: auto;
    width: auto;
    font-family: 'Rubik', sans-serif;
    /* padding: 0px 2vw; */
}
.weather_main{
    font-size: 5vw;
}
.location_name{
    font-size: 2vw;
    color: #eccc68;
}
.temp{
    font-size: 5vw;
}
